name: REUSE Compliance

on:
  push:
    paths:
      - '**.sh'
      - '**.py'
      - 'sw'
      - 'LICENSES/**'
      - 'REUSE.toml'
  pull_request:
    paths:
      - '**.sh'
      - '**.py'
      - 'sw'
      - 'LICENSES/**'
      - 'REUSE.toml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  reuse:
    name: REUSE Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v4
